body {background-color:grey;}

h1 {color: blue;font-size: 20px;font-weight: bold;}
h2 {color: blue;font-size: 20px;font-weight: bold}
h3 {color:blue;font-size: 20px;font-weight: bold;margin-left: 19%;top:10px;position: absolute;}
p {top:190px;color: blue;font-size: 20px;font-weight: bold;line-height: 60%;}
ul {top:190px;color: blue;font-size: 20px;font-weight: bold;padding-bottom: 50px;}

.box {
    background-color: black;
    position: relative;
    width: 55%;
    height: 80%;
    left: 500px;
}


.h1 {
position: relative;
width: 100%;
margin-left: 20px;
}

.line {
    position: relative; 
    background-color: blue;
    width: 95%;
    height: 3px;
    top: 50px;
    left: 20px;
}

ul {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    top:5px;
    right: 0px;
    margin-right: 10%;
    margin-top: 20px
  }

  li {
      display: inline;
  }

  img {
      float: left;
  }


footer {
    background-color: black;
}